/arch
/boot
/build
/configs
/dl
/docs
/fs
/linux
/package
/support
/system
/toolchain

/board/*
!/board/dc-rpi3/

/CHANGES
/COPYING
/DEVELOPERS
/Makefile
/Makefile.legacy
/..config.tmp
/.br-external.mk
/.config.old
/.defconfig
/Config.in.legacy

/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
